{% extends "base.html" %}

{% block title %}Membre{% endblock %}

{% block content %}
    <div class="block-header">
        <h2>LISTE DES MEMBRES</h2>
    </div>
    <div class="row">
        <div class="col-xs-12 table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Nom</th>
              <th>Prenom</th>
              <th>Adresse</th>
              <th>Code postal</th>
              <th>téléphone</th>
              <th>date Naissance</th>
              <th>date entre</th>
              <th>date sortie</th>
              <th>promo id</th>
              <th class="text-center">actions</th>
            </tr>
            </thead>
            <tbody>

              {% for membre in membre_list %}
              <tr>
                <td  style="padding-top: 20px">{{ membre.nom }}</td>
                <td  style="padding-top: 20px">{{ membre.prenom }}</td>
                <td  style="padding-top: 20px">{{ membre.adrresse }}</td>
                <td  style="padding-top: 20px">{{ membre.cp }}</td>
                <td  style="padding-top: 20px">{{ membre.tel }}</td>
                <td  style="padding-top: 20px">{{ membre.date_naissance }}</td>
                <td  style="padding-top: 20px">{{ membre.date_entre }}</td>
                <td  style="padding-top: 20px">{{ membre.date_sortie }}</td>
                <td  style="padding-top: 20px">{{ membre.promotion_id }}</td>
                <td>
                  <p>
                    <a href="/membre/modify/?id={{ membre.id }}" class="btn btn-primary active">
                      <i class="fa fa-edit" aria-hidden="true"></i> modifier
                    </a>
                    <a href="/membre/?id={{ membre.id }}" class="btn btn-danger active">
                      <i class="fa fa-trash" aria-hidden="true"></i> Supprimer
                    </a>
                  </p>
                </td>
              </tr>
              {% endfor%}

            </tbody>
          </table>
        </div>
      </div>
      <p class="text-center">
        <a href="/membre/add/" class="btn btn-success active">
          <i class="fa fa-edit" aria-hidden="true"></i> Ajouter un membre
        </a>
      </p>
{% endblock %}