{% extends "base.html" %}

{% block title %}Publications{% endblock %}

{% block content %}
    <div class="block-header">
        <h2>PUBLICATIONS</h2>
    </div>
    {% for publication in publication_list %}
        <a href=""></a><div class="card"></a>
             <div class="header">
                <h2>{{ publication.titre }}</h2>
                 <br>
                <p>{{ publication.publication }}</p>
                 <p><b>Date de publication : </b>  {{ publication.date_pub }}</p>
             </div>
        </div>
    {% endfor%}
{% endblock %}